[user]
    name = Nikolay
    email = dubyna.mykola@gmail.com
[core]
    editor = vim
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    co = checkout
    st = status -sb
    br = branch
    l = ls-files
[color]
    ui = auto
